{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/account_info.css' %}">
{% endblock %}

{% block title %}Account info{% endblock %}

{% block content %}

<div class="dark-gray-bg">
    <div class="light-bg">
        <div class="account-box01">
            <div class="gray-box round-edges">
                <img class="round-edges" src="{% static 'main/images/no-avatar.png' %}" alt="avatar">
                {% if user.username %}  <!-- Має витягувати з бази даних -->
                    <h3>{{user.username}}</h3>
                {% else %}
                    <h3>No username</h3>
                {% endif %}

                {% if user.gmail %}
                    <p>{{gmail}}</p>
                {% else %}
                    <p>No gmail</p>
                {% endif %}

                {% if not user.is_authenticated %}
                    <div class="guest-btns">
                        <a href="/login/" class="btn green-btn">Login</a>
                        <a href="/register/" class="btn green-btn">Register</a>
                    </div>
                {% endif %}
        </div>

        <div class="account-info-box">
            <h2>Account info</h2>
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col">
                            <label>First name</label>
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <label>Last name</label>
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Email address</label>
                        <input type="text" class="form-control" placeholder="Email address">
                    </div>
                    <div class="mb-3">
                        <label>Phone number (optional)</label>
                        <input type="text" class="form-control" placeholder="Phone number">
                    </div>
                    <div class="mb-3">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Address">
                    </div>
                    <button type="submit" class="btn green-btn">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}