{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

    <!-- 2 БЛОК (PETS FOOD CATEGORIES) -->
    <div class="category-box">
        <div class="padding-box01">
            <h3>Pets food categories</h3>
            <ul class="category-list-align">
                <li>
                    <a href="#">
                        <img src="{% static 'main/images/cat-icon.png'%}" alt="Cat">
                        <div>Cat</div>
                    </a>
                </li>

                 <li>
                    <a href="#">
                        <img src="{% static 'main/images/dog-icon.png'%}" alt="Dog">
                        <div>Dog</div>
                    </a>
                </li>

                 <li>
                    <a href="#">
                        <img src="{% static 'main/images/parrot-icon.png'%}" alt="Parrot">
                        <div>Parrot</div>
                    </a>
                </li>

                 <li>
                    <a href="#">
                        <img src="{% static 'main/images/fish-icon.png'%}" alt="Fish">
                        <div>Fish</div>
                    </a>
                </li>

                 <li>
                    <a href="#">
                        <img src="{% static 'main/images/horse-icon.png'%}" alt="Horse">
                        <div>Horse</div>
                    </a>
                </li>

                 <li>
                    <a href="#">
                        <img src="{% static 'main/images/rabbit-icon.png'%}" alt="Rabbit">
                        <div>Rabbit</div>
                    </a>
                </li>

                 <li>
                    <a href="#">
                        <img src="{% static 'main/images/hen-icon.png'%}" alt="Hen">
                        <div>Hen</div>
                    </a>
                </li>

                 <li>
                    <a href="#">
                        <img src="{% static 'main/images/tortoise-icon.png'%}" alt="Tortoise">
                        <div>Tortoise</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="categories-underbar">12k+ active users everyday</div>
    </div>
    <!-- 3 БЛОК (HAND-PICKED FOODS) -->
{% endblock %}