.gray-box{
    background-color: #FAFAFA;
    padding: 20px;
}

.round-edges{
    border-radius: 10px;
}

h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #666666;
}

.btn-list li{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
}

.btn-list a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-list img{
    height: 14px;
}

.account-box01{
    display: flex;
    gap: 79px;
}

.account-info-box{
    width: 965px;
}

.dark-gray-bg{
    margin-top: 16px;
    background-color: #eeeef1;
    padding: 14px;
    border-radius: 10px;
}

.green-btn{
    background-color: #1ABA1A !important;
    color: white !important;
}

.guest-btns{
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.light-bg{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}