h3{
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-transform: capitalize;
}

.category-list-align{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.category-list-align div{
    text-transform: uppercase;
}

.category-list-align img{
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    padding: 28px;
}

.category-box{
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-bottom: 30px;
}

.padding-box01{
    padding: 31px 46px 28px 31px;
}

.categories-underbar{
    background-image: url("../images/underbar-bg.png");
    padding: 31px;
    width: 100%;

    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.view-all-style{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.orange-box{
    background-color: #F6AB4A;
    padding: 24px 47px;
    border-radius: 10px;

    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
}

/* */

.products-style01{}
